{% load static %}
{% load sweetify %}

<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form | CodingLab</title> 
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Register Form</span></div>
            <form action="{% url 'register' %}" method="post">{% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger text-danger">
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="row">
                    <i class="fas fa-envelope"></i>
                    {{ form.email }}
                </div>
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
                <div class="row">
                    <i class="fas fa-user-alt"></i>
                    {{ form.username }}
                </div>
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
                <div class="row">
                    <i class="fas fa-lock"></i>
                    {{ form.password1 }}
                </div>
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                {% endif %}
                <div class="row">
                    <i class="fas fa-lock"></i>
                    {{ form.password2 }}
                </div>
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
                <div class="row button">
                    <input type="submit" value="Register">
                    <input type="reset" value="Reset">
                </div>
                <div class="signup-link">Already a member? <a href="/login/">Login now</a></div>
            </form>
        </div>
    </div>
</body>
</html>
