{% load static %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login Form | CodingLab</title> 
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form action="{% url 'login' %}" method="post"> {% csrf_token %}
          {% for message in messages %}
  
        <div
          class="alert alert-{{message.tags}} alert-dismissible fade show"
          role="alert"
        >
          <strong>{{message}} </strong>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %}
          <div class="row">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="email" name="email" required>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="enter password" name="password" required>
          </div>
          <div class="pass"><a href="/password-reset/">Forgot password?</a></div>
          <div class="row button">
            <input type="submit" value="Login">
          </div>
         
          <div class="signup-link">Not a member? <a href="/register/">Signup now</a></div>
        </form>
      </div>
    </div>

  </body>
</html>